body {
    display: flex;
    flex-direction: column;
    justify-content: normal !important;
    gap: 0 !important;
}

.title-section2{
    font-family: Volkhov;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
}

.title-section5{
    font-family: Volkhov;
    font-size: 40px;
    line-height: 40px;
}

.section-2{
    background-color: #F7F8FC;
    text-align: center;
    padding: 70px 0px;
    margin: none;
}

.section-5{
    background-color: #F7F8FC;
    text-align: center;
    padding: 70px 0px;
    margin: 7% 0%;
}

.contenedor2{
    display: flex;
    flex-direction: row;
    margin: 5% 10%;
    text-align: left;
}

.div1, .div2, .div3 {
    margin-right: 10px;
    background-color: white;
    margin-left: 10px;
    border-radius: 5px;
    padding: 20px;
}

.contenedor-p5{
    background-color: #F7F8FC;
    text-align: center;
    margin: 7% 0%;
}

.div4, .div5{
    margin-left: 10px;
    padding: 20px;
}
.div5 {
    padding: 0px 0px;
}

footer table, .linea {
    width: 65%;
    text-align: center;
}

.pie1 {
    text-align: left;
}

.pie2 {
    text-align: right;
}

.tabla, .pie-de-pagina, .linea{
    margin-left: auto;
    margin-right: auto;
}

.tabla {
    width: 65%;
    text-align: left;
}

.btn-insta{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #FA7436;
    color: white;
    border: 0;
}

.btn-face, .btn-twitter{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: gray;
    color: white;
    border: 0;
}

.buttons{
    display: flex;
}